# IDE
.vscode/
.idea/
# python
__pycache__/
# data bin
**/data/*.bin
# code gen
op_desc_json.cpp
# temp
/tests/pythontest/cache
/tests/pythontest/kernel_meta*
# build
build
# output
output
# 3rdparty
3rdparty/
kernel_meta*
# configs
configs/op_list.yaml
